
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/plantilla.cshtml";
}
<header id="cabecera" class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="~/img/logo.png" alt="[jv]" height="60px"/>

            </div>
            <div class="col-sm-9">
                <ul class="menu">
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#portafolio">Portafolio</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#nosotros">Sobre mi</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section id="inicio" class="fondo-parallax">
    <div class="capa-inicio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <section class="centertext">
                        <img src="~/img/logo.png" alt="[jv]" />
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero earum quidem quas animi fugit ipsa eum, odit perspiciatis                                 dolores totam?</h2>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portafolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="centrarcontenido linea">
                    <h2>Portafolio</h2>
                </header>
                <div id="filtro">
                    <ul>
                        <li id="sha" class="filter" data-filter="all">Show All</li>
                        <li id="php" class="filter" data-filter=".php">PHP</li>
                        <li id="c" class="filter" data-filter=".category-2">C#</li>
                        <li id="front" class="filter" data-filter=".category-3">FRONT-END</li>
                    </ul>

                    <div id="Container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mix category-1" data-my-order="1">
                                    <div class="thumbnail">
                                        <img src="http://placehold.it/242x200" alt="">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <div class="contenedor">
                                                <div class="col-sm-12">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mix category-1" data-my-order="2">
                                    <div class="thumbnail">
                                        <img src="http://placehold.it/242x200" alt="">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <div class="contenedor">
                                                <div class="col-sm-12">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mix category-2" data-my-order="3">
                                    <div class="thumbnail">
                                        <img src="http://placehold.it/242x200" alt="">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <div class="contenedor">
                                                <div class="col-sm-12">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mix category-3" data-my-order="4">
                                    <div class="thumbnail">
                                        <img src="http://placehold.it/242x200" alt="">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <div class="contenedor">
                                                <div class="col-sm-12">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="skill">
    <header class="centrarcontenido linea">
        <h2>Skill</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="wraper">
                    <div class="skillst5">
                        <div class="skillbar" data-percent="80%">
                            <div class="title">HTML</div>
                            <div class="count-bar color-1">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="60%">
                            <div class="title">HTML 5</div>
                            <div class="count-bar color-2">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="78%">
                            <div class="title">CSS</div>
                            <div class="count-bar color-3">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="60%">
                            <div class="title">CSS 3</div>
                            <div class="count-bar color-4">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="70%">
                            <div class="title">SQL SERVER</div>
                            <div class="count-bar color-5">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="65%">
                            <div class="title">T-SQL</div>
                            <div class="count-bar color-6">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="60%">
                            <div class="title">LINQ</div>
                            <div class="count-bar color-7">
                                <div class="count"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="wraper">
                    <div class="skillst5">
                        <div class="skillbar" data-percent="80%">
                            <div class="title">ASP.NET</div>
                            <div class="count-bar color-8">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="70%">
                            <div class="title">WEBFORM C#</div>
                            <div class="count-bar color-4">
                                <div class="count"></div>
                            </div>
                        </div>
                        <div class="skillbar" data-percent="60%">
                            <div class="title">ASP.NET MVC</div>
                            <div class="count-bar color-5">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="50%">
                            <div class="title">JAVASCRIPT</div>
                            <div class="count-bar color-1">
                                <div class="count"></div>
                            </div>
                        </div>

                        <div class="skillbar" data-percent="50%">
                            <div class="title">WEB SERVICE</div>
                            <div class="count-bar color-2">
                                <div class="count"></div>
                            </div>
                        </div>
                        <div class="skillbar" data-percent="40%">
                            <div class="title">jQuery</div>
                            <div class="count-bar color-3">
                                <div class="count"></div>
                            </div>
                        </div>
                        <div class="skillbar" data-percent="65%">
                            <div class="title">PHP</div>
                            <div class="count-bar color-4">
                                <div class="count"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>
<section id=nosotros class="fondo-parallax">
    <div class="capa">
        <header class="centrarcontenido">
            <div class="linea">
                <h2>Sobre mi</h2>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="presentacion">
                        <img src="img/yo.jpg" alt="" class="radius">

                        <h1>Juan Villarroel</h1>

                        <p class="centrartexto">
                            Soy programador autodidacta, innovador con capacidad para trabajar en equipo y tomar decisiones en situaciones críticas o bajo presión. Me dedico a estudiar nuevas tecnologías y asumir retos.

                            Me especializo en crear aplicativos utilizando la herramienta asp.net 2012 o window form 2012 y como lenguaje de programación c#. empleando para la interacción con  los datos sql server 2012. Adicional mente diseño páginas web utilizando html y css, aprovechando las facilidades que ofrece el framework Bootstrap.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="contacto" class="contacto">
    <div class="container">
        <div class="row">
            <header class="centertext linea">
                <h2>Contacto</h2>
            </header>
            <div class="col-sm-12 margenizquierda">


                <form>
                    <div class="centrarcontroles">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Comentario</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <div class="centrarbotones">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <button type="submit" class="btn btn-default">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>


            <header class="centertext linea sigueme">
                <h2>Sigueme!</h2>
            </header>
            <ul class="centrarcontenido social">
                <li><a href="https://twitter.com/juanPHP" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <!--
                                                    <li><a href="https://www.facebook.com/vilfrack" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

                -->
                <li><a href="https://ve.linkedin.com/in/jvillarroel" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                <!--									<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>-->
                <li><a href="https://plus.google.com/u/0/+juanvilla_25" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
                <li><a href="https://github.com/vilfrack" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                <!--
                <li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
                <li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
                <li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
                <li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
                <li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
                <li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
                <li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
                -->
            </ul>
            <div class="copyright">
                <ul>
                    <li>&copy; Untitled. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">[JV]</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>


